<div>
  <h2 id="page-heading" data-cy="PessoaHeading">
    <span>Pessoas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pessoa"
        [routerLink]="['/pessoa/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Pessoa </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pessoas?.length === 0">
    <span>No pessoas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pessoas && pessoas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dataRegistro"><span>Data Registro</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nome"><span>Nome</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomeSocial"><span>Nome Social</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="possuiNomeSocial"><span>Possui Nome Social</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="apelidoNomeFantasia"><span>Apelido Nome Fantasia</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dataNascimento"><span>Data Nascimento</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomePai"><span>Nome Pai</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomeMae"><span>Nome Mae</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tipoSanguineo"><span>Tipo Sanguineo</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sexoBiologicoAoNascer"><span>Sexo Biologico Ao Nascer</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tipoPessoa"><span>Tipo Pessoa</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cpf"><span>Cpf</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cnpj"><span>Cnpj</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="rg"><span>Rg</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ie"><span>Ie</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="estadoCivil"><span>Estado Civil</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="observacoes"><span>Observacoes</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="naturalidade"><span>Naturalidade</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="raca"><span>Raca</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let pessoa of pessoas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pessoa', pessoa.id, 'view']">{{ pessoa.id }}</a>
          </td>
          <td>{{ pessoa.dataRegistro | formatMediumDatetime }}</td>
          <td>{{ pessoa.nome }}</td>
          <td>{{ pessoa.nomeSocial }}</td>
          <td>{{ pessoa.possuiNomeSocial }}</td>
          <td>{{ pessoa.apelidoNomeFantasia }}</td>
          <td>{{ pessoa.dataNascimento | formatMediumDate }}</td>
          <td>{{ pessoa.nomePai }}</td>
          <td>{{ pessoa.nomeMae }}</td>
          <td>{{ pessoa.tipoSanguineo }}</td>
          <td>{{ pessoa.sexoBiologicoAoNascer }}</td>
          <td>{{ pessoa.tipoPessoa }}</td>
          <td>{{ pessoa.cpf }}</td>
          <td>{{ pessoa.cnpj }}</td>
          <td>{{ pessoa.rg }}</td>
          <td>{{ pessoa.ie }}</td>
          <td>{{ pessoa.estadoCivil }}</td>
          <td>{{ pessoa.observacoes }}</td>
          <td>{{ pessoa.naturalidade }}</td>
          <td>{{ pessoa.raca }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/pessoa', pessoa.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/pessoa', pessoa.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(pessoa)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
