<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="pessoaRedeSocial">
      <h2 data-cy="pessoaRedeSocialDetailsHeading"><span>Pessoa Rede Social</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ pessoaRedeSocial.id }}</span>
        </dd>
        <dt><span>Nome Rede</span></dt>
        <dd>
          <span>{{ pessoaRedeSocial.nomeRede }}</span>
        </dd>
        <dt><span>Endereco</span></dt>
        <dd>
          <span>{{ pessoaRedeSocial.endereco }}</span>
        </dd>
        <dt><span>Data Registro</span></dt>
        <dd>
          <span>{{ pessoaRedeSocial.dataRegistro | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Data Exclusao</span></dt>
        <dd>
          <span>{{ pessoaRedeSocial.dataExclusao | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Divulgar No Aplicativo</span></dt>
        <dd>
          <span>{{ pessoaRedeSocial.divulgarNoAplicativo }}</span>
        </dd>
        <dt><span>Rede Social</span></dt>
        <dd>
          <div *ngIf="pessoaRedeSocial.redeSocial">
            <a [routerLink]="['/pessoa', pessoaRedeSocial.redeSocial?.id, 'view']">{{ pessoaRedeSocial.redeSocial?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/pessoa-rede-social', pessoaRedeSocial.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
